<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL94Dialect</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://192.168.1.60:1105/pitc</property>
        <property name="connection.username">postgres</property>
        <mapping class="com.bisoft.postgre.entity.PgDevObjectEntity"/>
        <mapping class="com.bisoft.postgre.entity.PgOilFieldEntity"/>
        <mapping class="com.bisoft.postgre.entity.PgWellEntity"/>
        <mapping class="com.bisoft.postgre.entity.PgBushEntity"/>
        <mapping class="com.bisoft.postgre.entity.PgCDNGEntity"/>
        <mapping class="com.bisoft.postgre.entity.PgNsEntity"/>
        <mapping class="com.bisoft.postgre.entity.PgStratumEntity"/>
        <mapping class="com.bisoft.postgre.entity.PgContourEntity"/>
        <mapping class="com.bisoft.postgre.relation.PgRelationWellDevobject"/>
        <mapping class="com.bisoft.postgre.relation.PgRelationWellBush"/>
        <mapping class="com.bisoft.postgre.relation.PgRelationWellNs"/>
        <mapping class="com.bisoft.postgre.relation.PgRelationWellCdng"/>
        <mapping class="com.bisoft.postgre.relation.PgRelationWellOilfield"/>
        <mapping class="com.bisoft.postgre.relation.PgRelationNsOilfield"/>
        <mapping class="com.bisoft.postgre.relation.PgRelationCDNGOilfield"/>
        <mapping class="com.bisoft.postgre.relation.PgRelationBushOilfield"/>
        <mapping class="com.bisoft.postgre.relation.PgRelationDevobjectOilfield"/>
        <mapping class="com.bisoft.postgre.relation.PgRelationStratumOilfield"/>
        <mapping class="com.bisoft.postgre.relation.PgRelationStratumDevobject"/>
        <mapping class="com.bisoft.postgre.relation.PgRelationStratumWell"/>
        <mapping class="com.bisoft.postgre.relation.PgRelationDevobjectDevobject"/>
        <mapping class="com.bisoft.postgre.relation.PgRelationContourOilfield"/>
        <mapping class="com.bisoft.postgre.relation.PgRelationContourStratum"/>
        <mapping class="com.bisoft.postgre.relation.PgRelationContourDevobject"/>
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>